.intro {
  text-align: center;
}

#buttons .btn {
  box-shadow: 0 9px #999;
  font-size: 30px;
  padding: 15px 25px;
  border-radius: 15px;
  outline: none;
  margin: 0 20px;
}

#buttons .btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}

button {
  item-align: center;
}

.wrapAround {
  float:right;
  margin-top: -2%;
  margin-bottom: 1%;
}

body {
  background-color: gray;
}
